/* Gallery Layout Styles */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}